@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "wh4tzy";
  default: true;
  prefersdark: true;
  color-scheme: "dark";

  /* =========================
     BACKGROUNDS
  ========================= */

  --color-base-100: oklch(18% 0.015 180);
  --color-base-200: oklch(21% 0.018 180);
  --color-base-300: oklch(24% 0.02 180);

  /* Texto */
  --color-base-content: oklch(92% 0.01 180);

  /* =========================
     PRIMARY (WhatsApp Green)
  ========================= */

  --color-primary: oklch(72% 0.21 154);
  --color-primary-content: oklch(18% 0.02 154);

  /* =========================
     SECONDARY
  ========================= */

  --color-secondary: oklch(58% 0.12 185);
  --color-secondary-content: oklch(95% 0.01 185);

  /* =========================
     ACCENT
  ========================= */

  --color-accent: oklch(78% 0.16 160);
  --color-accent-content: oklch(18% 0.02 160);

  /* =========================
     NEUTRAL
  ========================= */

  --color-neutral: oklch(28% 0.01 180);
  --color-neutral-content: oklch(90% 0.01 180);

  /* =========================
     STATUS
  ========================= */

  --color-info: oklch(70% 0.15 230);
  --color-info-content: oklch(18% 0.02 230);

  --color-success: oklch(72% 0.21 154);
  --color-success-content: oklch(18% 0.02 154);

  --color-warning: oklch(82% 0.17 85);
  --color-warning-content: oklch(20% 0.02 85);

  --color-error: oklch(68% 0.22 25);
  --color-error-content: oklch(18% 0.02 25);

  /* =========================
     RADIOS
  ========================= */

  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;

  /* =========================
     SIZES
  ========================= */

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* =========================
     BORDERS
  ========================= */

  --border: 1px;

  /* =========================
     EFFECTS
  ========================= */

  --depth: 0;
  --noise: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat Variable', sans-serif;

  background:
    radial-gradient(circle at top,
      oklch(24% 0.025 170),
      oklch(18% 0.015 180));

  color: oklch(92% 0.01 180);
}

input,
textarea,
button,
select,
option,
span,
p,
li {
  outline: none;
}